*, ::after, ::before {
    box-sizing: border-box;
}
.hidden {
  position: absolute;
  left:-100000px;
}

/*  --------------header------------------*/
header {
  height:70px;
}
#header_nav{

  display: inline-block;

}
#logo {
  position: absolute;
  margin-left:100px;
  overflow: visible;
}
#nav_list {
  display:inline-block;
  list-style-type: none;
  margin:1em;
  margin-left: 39em;
  overflow: hidden;
  vertical-align: top;
  font-size:17px;
  color:black;
}
.h_home {
  color:red;
}


li {
  float: left;
}
li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 7px 7px;
  text-decoration: none;
}
/*FOOTER*/
footer{

    background-color: skyblue;
    height:90px;
    max-height: 100%;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#location {
    position: absolute;
    margin-top:18px;
    margin-left:40px;
    max-width: 10%;
	font-size:25px;
}
.foot {
  display: inline-block;
}
#foot_list {
  position: absolute;
  list-style: none;
  margin:1em;
  margin-left: 45em;
  margin-bottom: 50px;
  font-size: 17px;
}
.f_home {
  color:red;
}
.menu-toggle{
  display:none;
}